#{extends 'main.html' /}
#{set title:'Card list' /}

<h2>Seznam kartaku</h2>

<p>
    <a href="@{Cards.create()}">Add new</a>
</p>

<table>
#{list items:cards, as:'card'}
    <tr>
        <td><a href="@{Cards.show(card.id)}">${card.title}</td>
        <td><a href="@{Cards.edit(card.id)}">edit</td>
        <td><a href="@{Cards.delete(card.id)}">delete</td>
    </tr>
#{/list}
</table>

<p>
    <a href="@{Cards.importCards()}">Import from Cobocards</a>
</p>
<p>
    <a href="@{Cards.deleteAll}">Delete all cards</a>
</p>


<p>
    TODO:
    <ul>
        <li>confirm dialog na delete</li>
    </ul>
</p>
