#{extends 'main.html' /}
#{set title:'Card list' /}

#{if tag}
<h2>Cards tagged with "${tag.name}"</h2>
#{/if}
#{else}
<h2>Cards</h2>
#{/else}
<p>
    <a href="@{Cards.create()}">Add new</a>
</p>

<table style="width: 100%;">
    <thead>
        <tr>
            <th>Card</th>
            <th>Word Frequency<br/>(#rank / count)</th>
            <th colspan="2">
        </tr>
    </thead>
    <tbody>

#{list items:cards, as:'card'}
    <tr>
        <td><a href="@{Cards.show(card.id)}">${card.title}</td>
        <td>
            #{if card.wordFrequency}
                #${card.wordFrequency?.wordRank} / ${card.wordFrequency?.wordCount}
            #{/if}
        </td>
        <td><a href="@{Cards.edit(card.id)}">edit</td>
        <td><a href="@{Cards.delete(card.id)}">delete</td>
    </tr>
#{/list}
   </tbody>
</table>

<hr/>

<p>
    <a href="@{Cards.importCards()}">Import from Cobocards</a>
</p>
<p>
    <a href="@{Cards.deleteAll}">Delete all cards</a>
</p>

